.hit-the-floor {
color: #fff; /*5780ad*/
font-size: 26px;
font-weight: bold;
font-family: Verdana;
letter-spacing: 2px;
text-transform: uppercase;
text-shadow: 2px 2px 2px #333;
background-color: rgba(91,155,224, 0.60);

}

.hit-the-floor {
  text-align: center;
}


#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:small;
    border-collapse: collapse;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}

/*#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 4px;
	
}


#customers tr:nth-child(even){background-color:#d2d2d2;opacity:0.9;}
#customers tr:nth-child(odd){background-color:#c2c2c2;opacity:0.9;}

#customers tr:hover {background-color: #bbb;}

#customers th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #4CAF50;
    opacity:0.9;
    color: white;
}*/

input:disabled {
    background: #fff8d0;
    padding: 0px;
    margin: 0 0 0 0;
    background-image: none;
}

#angarancio {
    border-radius: 15px;
    border: 2px solid #E3A20B;
    padding: 20px; 
    width: 650px;
    box-shadow: #000000 4px 4px 4px;
}

table#tabellaricerca {
    font-family: Verdana;
    font-size: 11pt;
    color:white;
    background: rgba(87,128,173, 0.9);
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    border-spacing: 7px;
    border-collapse: separate;
    border: 1px solid white;
}

table#tabellains {
    font-family:Verdana;
    color:white;
    background: rgba(0, 0, 102,0.8);
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin-left:auto;margin-right:auto;
    border-spacing: 10px;
    border-collapse: separate;
    border: 1px solid white;
}

table#tabellamod {
    font-family:Verdana;
    color:white;
    background: rgba( 1,93,110, 0.8);
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin-left:auto;margin-right:auto;
    border-spacing: 10px;
    border-collapse: separate;
    border: 1px solid white;
}

div#vocemenu {
width: 90%; 
margin-left: auto;
margin-right: auto;
text-align: center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border:1px solid #ffffff; 
background-color: rgba(87,128,173,0.8);
}

div#infobox {
width: 40%; 
margin-left: auto;
margin-right: auto;
text-align: center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border:1px solid #ffffff; 
background-color: rgba(69,81,20,0.8);
padding: 5px;
}

p#biancomaiusc {
color: #fff;
font-variant: small-caps;
font-size: 12pt;
font-weight: bold;
align-self: center;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) center no-repeat #fff;
}

input#inputform { 
    background: #1C1C1C; 
    border: 1px solid white; 
    color: #fff; 
    height: 30px; 
    line-height: 30px;
    width: 300px;
    padding: 0 10px;
} 