<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".ovf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".ova" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".vmdk" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
